<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="交作业">
    <title>麦冬溪：精选购物网站</title>
    <link rel="stylesheet" href="../static/css/mdb.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/indexCover.css">
</head>

<body class="text-center">

<div class="mask rgba-black-strong">
    <div class="container-fluid d-flex align-items-center justify-content-center h-100">
        <div class="row justify-content-center d-flex text-center">
            <div class="col-md-12 col-lg-12">
                <h2 class="display-3 font-weight-bold white-text">麦冬溪电子商城</h2>
                <!-- Divider -->
                <hr class="hr-light" style="width: 35em">

              <!-- Description -->
                <h4 class="white-text my-4">精选的购物网站</h4>
                <a href="/loginPage">
                <button type="button" class="btn btn-outline-white font-weight-bold rounded-lg">立即登录</button>
              </a>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="../static/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="../static/js/mdb.min.js"></script>

</body>
</html>